extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let galleryid = toShow._id
    - let gallery_name = toShow.gallery_name
    - let size = toShow.size
    - let cost = toShow.cost
    - let actionid = "/resource/gallery/" + galleryid
    script.
      let action = "#{actionid}"
    div
      div.row
        div(class='galleryAttr mr-3') Gallery ID is:
        div #{galleryid}
      div.row
        div(class='galleryAttr mr-3') Gallery Name is:
        div #{gallery_name}
      div.row
        div(class='galleryAttr mr-3')  Size is:
        div #{size}
      div.row
        div(class='galleryAttr mr-3')  Cost is:
        div #{cost}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/gallery'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(action, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeded")
          window.location.href='/gallery'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
